    <div class="personal">
    <div class="personal-title">
    <h2>葬式の希望を入力する</h2>
    </div>
    <%= form_with(model: @user, local: true) do |form| %>
    <h3>葬式のこと(希望)</h3>
      <%= form.select :funeral_wishes, options_for_select(User.funeral_wishes.keys)  %>
    <h3>葬式のこと(形態)</h3>
      <%= form.select :funeral_form, options_for_select(User.funeral_forms.keys) %>
      <%= form.submit "保存する", class: "custom-button", style: "display: block;" %>
    <% end %>
    </div>