    <div class="personal">
      <div class="funeral-description">
      <h1>葬式とは？</h1>
        <p>故人を尊重し、最後を追悼するために行われる儀式です。</p>
        <p>家族や友人、知人が集まり故人を送るための儀式を行います。</p>
        <p>※宗教や文化、地域により違いはあります。</p>
        <p>簡単に言えば、故人を尊重し最後のお別れをする儀式です。</p>
      </div>
    <div class="personal-title">
    <h2>葬式の希望を入力する</h2>
    </div>
    <%= form_with(model: @user, local: true) do |form| %>
    <h3>葬式のこと(希望)</h3>
      <%= form.select :funeral_wishes, User.funeral_wishes.keys.map { |k| [t("enum.user.funeral_wishes.#{k}"), k] }, { include_blank: "指定なし" } %>
    <h3>葬式のこと(形態)</h3>
      <%= form.select :funeral_form, User.funeral_forms.keys.map { |k| [t("enum.user.funeral_form.#{k}"), k] }, { include_blank: "指定なし" } %>
      <%= form.submit "保存する", class: "custom-button", style: "display: block;" %>
    <% end %>
    </div>
  </div>
