<header class="header" >
  <%= link_to root_path do %>
  <div class="back-btn">topへ戻る</div>
  <% end %>
    <div class="logo">
      <h1>葬式を学ぶ</h1>
    </div> 
</header>

<div class="page-show">
<h1>葬式とは?</h1>
<p>葬式と葬儀とは、「死者を葬る儀式」の意味です。</p>
<p>厳密には、葬式とは「葬儀」と「告別式」を合わせた言葉です。</p>
<p>故人の弔いはお通夜、葬儀、告別式から成り立っています。</p>
<p>お通夜以外の儀式をまとめた言葉が一般に「葬式」と呼ばれています。</p>
<P>要するに葬式とは、死者を弔う儀式の総称です。</p>
<h1>葬儀とは?</h1>
<p>故人を見送る儀式のことで、葬式と意味が被ることが多いです。</p>
<p>看取り、納棺、お通夜、葬儀、告別式、火葬、納骨、四十九日と儀式が続きます。</p>
<p>近親者のみが集まり読経挙げてもらう儀式です。</p>
<h1>告別式とは?</h1>
<p>告別式には故人と生前関わりあった人がお別れに訪れる儀式です。</p>
<p>近年では、告別式やお通夜を短縮し、火葬のみを行う「直葬」も増えています。</p>
<p>故人が身寄りがない場合や、葬儀費用を抑えたい場合に直葬を選ぶ傾向があります。</p>
<p>告別式は宗教儀式にあまりとらわれず、故人とお別れをする儀式です。</p>
</div>
