<header class="header" >
  <%= link_to root_path do %>
  <div class="back-btn">topへ戻る</div>
  <% end %>
    <div class="logo">
      <h1>葬式を学ぶ</h1>
    </div> 
</header>

<h1>葬式とは</h1>
<p>葬式と葬儀とは、「死者を葬る儀式」の意味です。</p>
<p>厳密には、葬式とは「葬儀」と「告別式」を合わせた言葉です。</p>
