<div class="personal">
    <div class="personal-title">
    <div class="description">
    <h1>喪主とは？</h1>
    <p>葬式の代表者であり、故人の供養全般を行います。</p>
    <p>決め方に明確なルールはありません。</p>
    <p>配偶者、子供、親などが一般的に多いです。</p>
    </div>
    <h2>喪主について入力する</h2>
    </div>
    <%= form_with(model: @user, local: true ) do |form| %>
    <h3>氏名</h3>
      <%= form.text_area :chief_mourner, placeholder: "喪主を入力しましょう" %>
    <h3>続柄</h3>
      <%= form.text_area :kinship, placeholder: "喪主との関係を入力しましょう" %>
      <%= form.submit "保存する", class: "custom-button", style: "display: block;" %>
    <% end %>
</div>