<div class="personal">
    <div class="personal-title">
    <h2>遺品について入力する</h2>
    </div>
    <%= form_with(model: @user, local: true) do |form| %>
    <h3>遺品のこと(希望)</h3>
      <%= form.select :belongings, options_for_select(User.belongings.keys)  %>
      <%= form.submit "保存する", class: "custom-button", style: "display: block;" %>
    <% end %>
</div>