<header class="header" >
  <%= link_to root_path do %>
  <div class="back-btn">戻る</div>
  <% end %>
    <div class="logo">
      <h1>遺骨</h1>
    </div> 
</header>

<div class="personal">
      <h1>遺骨について学ぶ</h1>
    <div class="personal-title">
    <h2>遺骨の希望を入力する</h2>
    </div>
    <%= form_with(model: @user, local: true) do |form| %>
    <h3>遺骨のこと(希望)</h3>
      <%= form.select :ashes, User.ashes.keys.map { |k| [t("enum.user.ashes.#{k}"), k] }, { include_blank: "指定なし" }, class: "mb-3 sm:mb-0 mr-9 border border-line-200 rounded-[3px] rounded-[3px] py-3 pl-6 w-52 h-12 font-bold" %>
      <%= form.submit "保存する", class: "custom-button", style: "display: block;" %>
    <% end %>
</div>
