<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <!-- 本人のこと -->
      <div class="personal-page">
        <div>本人のこと</div>
        <div class="personal-sub">自分のことを入力しましょう</div>
      </div>

      <!-- 内容 -->
      <div class="service-items">

        <!-- 葬式のこと -->
        <div class="service-item">
            <%= image_tag '葬式のこと.png' %>         
          <h2>葬式のこと</h2>
          <p>葬式について希望を入力しましょう。</p>
        </div>

        <!-- 予算 -->
        <div class="service-item">
            <%= image_tag '葬式のこと.png' %>         
          <h2>予算</h2>
          <p>葬式の予算を入力しましょう。</p>
        </div>

        <!-- 葬式のこと -->
        <div class="service-item">
            <%= image_tag '葬式のこと.png' %>         
          <h2>喪主</h2>
          <p>喪主について希望を入力しましょう。</p>
        </div>
      </div>
  </body>
</html>