<div class="top-page">
  <div class="container">
    <%= image_tag '青空.jpeg' %>  
    <h3>
    <p>質問です。</p>
    <p>あなたは本当に「自分の人生」を生きているでしょうか？</p>
    <p>LifeTimeは自分の人生の最後、お葬式のことを考えるアプリです。</p>
    <p>自分のお葬式を考えることは「きっかけ・手段」であり目的ではありません。</p>
    <p>普段考えないお葬式のことを考えながら「自分の人生を生きる」ことを考えて見つめるアプリです。</p>
    <p>できれば考えたことを自分の身近な大切な人に共有してほしいです。</p>
    <p>そして大切な人とぜひ話すきっかけにしてください。</p>
    <p>あなたの人生が「他人の人生を生きる」のではなく、「自分の人生を生きる」。</p>
    <p>そのお手伝いができれば幸いです。</p>
    <p>あなたの人生に"幸あれ"。</p>
    </h3>
  </div>
</div>