    <div class="personal">
    <div class="personal-title">
    <h2>自分のことを入力する</h2>
    </div>
    <%= form_with(model: @user, local: true) do |form| %>
    <h3>趣味</h3>
      <%= form.text_field :content, placeholder: "趣味を入力しましょう" %>
    <h3>特技</h3>
      <%= form.text_field :content, placeholder: "特技を入力しましょう" %>
      <%= form.submit "保存する", class: "custom-button", style: "display: block;" %>
    <% end %>
    </div>