<header class="header" >
  <%= link_to root_path do %>
  <div class="back-btn">戻る</div>
  <% end %>
    <div class="logo">
      <h1>遺産のこと</h1>
    </div> 
</header>

<div class="personal">
    <div class="personal-title">
    <h2>遺産について入力する</h2>
    </div>
    <%= form_with(model: @user, local: true) do |form| %>
    <h3>遺産のこと(希望)</h3>
      <%= form.text_area :legacy, placeholder: "遺産について希望を自由に書きましょう", rows: 20 %>
      <%= form.submit "保存する", class: "custom-button", style: "display: block;" %>
    <% end %>
</div>
