<div class="personal">
    <div class="description">
    <h1>戒名とは？</h1>
    <p>故人に対してつけられるものと思われていますが、本来は生前に与えられるものです。</p>
    <p>故人が迷わずに極楽浄土へ行く、成仏するために必要と言われています。</p>
    <p>仏式の葬儀を行う際には必要です。</p>
    <p>外国には戒名の概念はないと言われています。</p>
    </div>
    <div class="personal-title">
    <h2>戒名</h2>
    </div>
    <%= form_with(model: @user, local: true) do |form| %>
    <h3>戒名</h3>
      <%= form.select :posthuomus_names, options_for_select(User.posthuomus_names.keys)  %>
      <%= form.submit "保存する", class: "custom-button", style: "display: block;" %>
    <% end %>
</div>