/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  padding: 0 100px 0 30px;
  background-color: #E0ECFF;
  align-items: center;
  font-size: 36px;
  text-decoration: none;
  justify-content: space-between;
}

.header a {
  color: #4d4d4d;
  -webkit-text-stroke: 1px white;
  text-decoration: none;
}

.nav-btn {
    position:relative;
    top:0;
    padding:10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    outline: none;
    transition: all .3s;
  }
  
  /*hoverをしたらボックスに影がつき、上に上がる*/
  .nav-btn {
    top:-3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }

* {
  box-sizing: border-box;
}
/******************************************************** 
　フッター
********************************************************/

.footer {
  background-color: #E0ECFF;
  text-align: center;
  padding: 10px 100px 10px 30px;
  color: #4d4d4d;
  -webkit-text-stroke: 1px white;
  font-size: 40px;
}

/******************************************************** 
　内容
********************************************************/

/*葬式*/

.funeral-description {
  font-size: 20px;
  color: #4d4d4d;
  background-color: #f5f5f5;
  border: 1px solid #4d4d4d;
  padding: 10px ;
  border-radius: 16px;
  width: 30vw;
}

/*説明*/
.description {
  font-size: 20px;
  color: #4d4d4d;
  background-color: #f5f5f5;
  border: 1px solid #4d4d4d;
  padding: 10px ;
  border-radius: 16px;
  width: 30vw;
}

form input,

form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.top-page {
  position: relative;
}

.top-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('青空.jpeg');
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.top-page p {
  font-size: 36px;
  animation-name: fadeInAnime;
  animation-fill-mode:forwards;
  animation-duration:8s;
  animation-iteration-count:1;
  animation-timing-function:ease;
  animation-direction:normal;
  opacity: 0;
}

  @keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .top-page p:nth-child(1) { animation-delay: 1s; }
  .top-page p:nth-child(2) { animation-delay: 3s; }
  .top-page p:nth-child(3) { animation-delay: 5s; }
  .top-page p:nth-child(4) { animation-delay: 7s; }
  .top-page p:nth-child(5) { animation-delay: 9s; }
  .top-page p:nth-child(6) { animation-delay: 11s; }
  .top-page p:nth-child(7) { animation-delay: 13s; }
  .top-page p:nth-child(8) { animation-delay: 15s; }
  .top-page p:nth-child(9) { animation-delay: 17s; }
  .top-page p:nth-child(10) { animation-delay: 19s; }

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.comments {
  padding: 5px;
  margin-top: 15px;
}

.comments a {
  color: #57C3E9;
}

.comments a:hover {
  text-decoration: underline;
}

footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}

.search-form {
  text-align: center;
  padding-top: 32px;
}

.search-form .search-input {
  width: 30%;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 10%;
}

/* タブレット表示時 */

@media (max-width: 1024px) {
  .header {
    display: flex;
    padding: 0 100px 0 30px;
    background-color: #E0ECFF;
    text-align: center;
    align-items: center;
    font-size: 36px;
    text-decoration: none;
    justify-content: space-between;
  }
  
  .header a {
    width: 90%;
    margin: 0 auto;
  }
  
  .nav-btn {
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 0.8em;
    color: #87CEFA;
    text-decoration: none;
    user-select: none;
    border: 1px #87CEFA solid;
    border-radius: 3px;
    transition: 0.4s ease;
  }
  
  * {
    box-sizing: border-box;
  }
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .header {
    display: flex;
    padding: 0 100px 0 30px;
    background-color: #E0ECFF;
    text-align: center;
    align-items: center;
    font-size: 36px;
    text-decoration: none;
    justify-content: space-between;
  }
  
  .header a {
    width: 100%;
    margin-bottom: 60px;
  }
  
  .nav-btn {
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 0.8em;
    color: #87CEFA;
    text-decoration: none;
    user-select: none;
    border: 1px #87CEFA solid;
    border-radius: 3px;
    transition: 0.4s ease;
  }
  
  * {
    box-sizing: border-box;
  }
}
