/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  padding: 0 100px 0 30px;
  background-color: #DBDBDB;
  color: #000000;
}


/******************************************************** 
　フッター
********************************************************/

.footer {
  background-color: gray;
}