/******************************************************** 
　ログイン画面、新規登録画面
********************************************************/
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header, login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background-color: #0067c0;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #0067c0;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}

/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  padding: 0 100px 0 30px;
  font-size: 36px;
  background-color: #E0ECFF;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

.header a {
  color: #4d4d4d;
  -webkit-text-stroke: 1px white;
  text-decoration: none;
}

.nav {
  display: flex;
  gap:20px;
}

.nav-btn {
  position: relative;
  top:0;
  padding:10px 20px;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  outline: none;
  transition: all .3s;
  background-color: #f5f5f5;
  top:-3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.nav-btn:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
  background-color: #e2e2e2;
}

.back-btn {
  display: flex;
  align-items: flex-start;
  padding:10px 20px;
  border: 1px solid #ccc;
  color: #333;
  outline: none;
  transition: all .3s;
  background-color: #f5f5f5;
  top:-3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.logo {
  margin: 0 auto;
  color: #4d4d4d;
}

* {
  box-sizing: border-box;
}
/******************************************************** 
　フッター
********************************************************/

.footer {
  background-color: #E0ECFF;
  text-align: center;
  padding: 10px 100px 10px 30px;
  color: #4d4d4d;
  -webkit-text-stroke: 1px white;
  font-size: 40px;
}

/******************************************************** 
　内容
********************************************************/

/*葬式*/

.funeral-description {
  font-size: 20px;
  color: #4d4d4d;
  background-color: #f5f5f5;
  border: 1px solid #4d4d4d;
  padding: 10px ;
  border-radius: 16px;
  width: 30vw;
}

/*説明*/
.description {
  font-size: 20px;
  color: #4d4d4d;
  background-color: #f5f5f5;
  border: 1px solid #4d4d4d;
  padding: 10px ;
  border-radius: 16px;
  width: 30vw;
}

form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #0067c0;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #17c;
}

.top-page {
  position: relative;
}

.top-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('青空.jpeg');
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.top-page p {
  font-size: 36px;
  animation-name: fadeInAnime;
  animation-fill-mode:forwards;
  animation-duration:8s;
  animation-iteration-count:1;
  animation-timing-function:ease;
  animation-direction:normal;
  opacity: 0;
}

  @keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .top-page p:nth-child(1) { animation-delay: 1s; }
  .top-page p:nth-child(2) { animation-delay: 3s; }
  .top-page p:nth-child(3) { animation-delay: 5s; }
  .top-page p:nth-child(4) { animation-delay: 7s; }
  .top-page p:nth-child(5) { animation-delay: 9s; }
  .top-page p:nth-child(6) { animation-delay: 11s; }
  .top-page p:nth-child(7) { animation-delay: 13s; }
  .top-page p:nth-child(8) { animation-delay: 15s; }
  .top-page p:nth-child(9) { animation-delay: 17s; }
  .top-page p:nth-child(10) { animation-delay: 19s; }
  .top-page p:nth-child(11) { animation-delay: 21s; }
  .top-page p:nth-child(12) { animation-delay: 23s; }


.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}

/* タブレット表示時 */

@media (max-width: 1024px) {
  .header {
    padding: 0 50px 0 15px;
    font-size: 28px;
  }
  
  .footer {
    padding: 5px 50px 5px 15px;
    font-size: 32px;
  }
  
  .nav-btn {
    flex: 1 0 50%;
  }

  .funeral-description, .description {
    font-size: 16px;
    padding: 5px;
    width: 60vw;
  }

  form textarea {
    margin: 2.5px 0 7.5px;
    padding: 5px;
  }
  
  form input[tyoe="submit"]{
    font-size: 14px;
  }

  .top-page p {
    font-size: 28px;
  }

  .container h3 {
    font-size: 16px;
  }

}

/* スマホ表示時 */

@media (max-width: 599px) {
  .header {
    padding: 0 5% 0 5%;
    font-size: 24px;
  }

 .top-page p {
  font-size: 16px;
  
  .footer {
    padding: 5px 10px 5px 15px;
    font-size: 24px;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
  }
  
  .nav-btn {
    width: 100%;
  }
  
  .funeral-description,
  .description {
    width: 100%;
    font-size: 16px;
  }
  form textarea,
  .search-form .search-input {
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
}
}
