
/******************************************************** 
 本人のこと
********************************************************/
.personal-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #4d4d4d;
  background-color: #eeeeee;
  border-radius: 8px 8px 8px 8px;
}

.personal-sub {
  font-size: 28px;
  margin: 40px 0 0 0;
}

.personal-page:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

/******************************************************** 
 日々の想い、言葉
********************************************************/

.emotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #4d4d4d;
  background-color: #eeeeee;
  border-radius: 8px 8px 8px 8px;
}

.emotion-sub {
  font-size: 28px;
  margin: 40px 0 0 0;
}

.emotion:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.image-container {
  display: inline-block; 
}

/******************************************************** 
 内容ページ
********************************************************/

.service-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(３, 1fr);
  padding: 50px;
  gap: 1.5em;
  text-decoration: none;
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 600;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3
}

.div2 {
  grid-area: 1 / 3 / 2 / 5;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.div5 {
  grid-area: 2 / 3 / 3 / 4;
}

.div6 {
  grid-area: 2 / 4 / 3 / 5;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
}

.div8 {
  grid-area: 3 / 2 / 3 / 3;
}

.div9 {
  grid-area: 3 / 3 / 4 / 3;
}

.div10 {
  grid-area: 3 / 4 / 4 / 4;
}

.service-item {
  padding: 20px;
  border-radius: 8px 8px 8px 8px;
  text-align: center;
  background-color: #eeeeee;
}

.service-item:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}


.link {
  display: block;
  color: #4d4d4d;
  padding: 20px;
  font-size: 48px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

@media not all and (min-width: 768px) {
  .service-item {
   width: 100%;
  }
}
