/******************************************************** 
 内容ページ
********************************************************/

.service-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 40px;
  gap: 1.5em;
  text-decoration: none;
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 600;
  width: 60%;
  margin: auto;
}

.service-item {
  padding: 10px;
  border-radius: 8px 8px 8px 8px;
  text-align: center;
  background-color: #eeeeee;
}

.service-item p {
  font-size: 36px;
}

.service-item:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
  background-color: #e2e2e2;
}

.link {
  display: block;
  color: #4d4d4d;
  padding: 20px;
  font-size: 48px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.link button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  font-weight: 600;
  color: #4d4d4d;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-image {
  margin: 0 auto;
}

/******************************************************** 
 タブレット表示時
********************************************************/

@media(max-width: 1024px) {

  /* 本人のこと */
  .personal-page {
    font-size: 60px;
    padding: 15px;
  }

  .personal-sub,
  .emotion-sub {
    font-size: 20px;
  }

  .emotion {
    font-size: 60px;
  }

/* 内容ページ */

.service-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 8%;
  gap: 1.5em;
  font-size: 36px;
  font-weight: 600;
  width: 100%;
  margin: auto;
}
.service-item {
  font-size: 16px;
}

.link {
  font-size: 24px;
  padding: 10px;
}

.link button {
  font-size: 14px;
}
}

/******************************************************** 
 スマホ表示時
********************************************************/

@media (max-width: 599px) {

/* 本人のこと */
.personal-page {
  font-size: 40px;
  padding: 15px;
}

.personal-sub {
  font-size: 14px;
  margin: 20px 0 0 0;
}

/* 日々の想い、言葉 */

.emotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #4d4d4d;
  background-color: #eeeeee;
  border-radius: 8px 8px 8px 8px;
}

.emotion-sub {
  font-size: 28px;
  margin: 40px 0 0 0;
}

.emotion:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.image-container {
  display: inline-block; 
}

/* 内容ページ */

.service-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 5%;
  gap: 1em;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  margin: auto;
}
.service-item {
  font-size: 16px;
}

.service-item p {
  font-size: 24px;
}


.link {
  font-size: 24px;
  padding: 10px;
}

.link button {
  font-size: 12px;
}
}
