
/******************************************************** 
　ページタイトル
********************************************************/
.personal-page {
  padding: 50px 0 50px;
  margin: 50px;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
  background-color: #eeeeee;
  border-radius: 8px 8px 8px 8px;
}

.image-container {
  display: inline-block; 
}

.personal-sub {
  font-size: 28px;
  margin: 40px 0 0 0;
}

/******************************************************** 
　内容ページ
********************************************************/

.service-items {
  display: flex;
  padding: 50px;
  gap: 80px;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

.service-item {
  padding: 20px;
  width: calc((100% - 10px * 2) / 3);
  border-radius: 8px 8px 8px 8px;
  text-align: center;
  background-color: #eeeeee;
}

.link {
  display: block;
  color: black;
  padding: 20px;
  font-size: 48px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}


@media not all and (min-width: 768px) {
  .service-item {
   width: 100%;
  }
}