.personal {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 40px;
}

.personal-title {
  font-size: 24px;
  color: #4D4D4D;
}

.custom-button {
  width: 40vw;
  margin: 24px auto 0;
}