<body>
    <header class="header" style="text-align: right;" >
      <%= link_to root_path do %>
        <div class="logo">
          <h1>マイページ</h1>
        </div>
      <% end %>
    </header>
    
    <%= yield %>

    <footer class="footer">
      <p>
        テスト
      </p>
    </footer>
  </body>
</html>
